<%= form_with model: [article, article.comments.build], url: "/comments/#{article.id}" do |form| %>
    <p>
    <%= form.label "Commenter" %><br />
    <%= form.text_field :commenter %>
    </p>
    
    <p>
    <%= form.label "Body" %><br />
    <%= form.text_area :body %>
    </p>
    
    <%= render "concern/status", form: form %>
    
    <p><%= form.submit %></p>
<% end %>