<%= form_with model: article, url: url do |form| %>
    <div>
    <%= form.label "Title" %><br />
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
    <% end %>
    </div>
    
    <div>
    <%= form.label "Body" %><br />
    <%= form.text_area :body %>
    <% article.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
    <% end %>
    </div>

    <%= render "concern/status", form: form %>

    <div><%= form.submit %></div>
<% end %>
