<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", "/articles/edit/#{@article.id}" %></li>
  <li>
    <%= link_to "Destroy", "/articles/#{@article.id}", data: {
      method: :delete,
      confirm: "Are you sure?"
    } %>
  </li>
</ul>

<h2>Comments!</h2>

<%= render "comments", comments: @article.comments %>
<%= render "comment_form", article: @article %>
